# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml        export-ignore
/tests              export-ignore
/.editorconfig      export-ignore
/generate-api.sh    export-ignore
/manuais            export-ignore
/docs               export-ignore

# Arquivos-ouro de remessa CNAB sao comparados byte a byte nos testes: preservar o CRLF exigido pelo layout.
tests/Remessa/files/sicredi/*.txt -text
